:root {
    font-family: sans-serif;
    text-align: center;
    background-color: lightseagreen;
    /* Gradient background */
    // transition: background-color 0.5s ease;
    /* Gradient transition */
}

.body {
    margin: 10% 20% 10% 20%;
}

.center {
    text-align: center;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input {
    width: 100%;
    max-width: 50%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: aquamarine;
    border-radius: 16px;
}

.clear-button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-data-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}