.character-card {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.character-name {
    font-size: 24px;
    margin-bottom: 8px;
}

.character-info {
    font-size: 16px;
    margin: 4px 0;
}
.character-info span {
    font-weight: bold;
}